<?xml version="1.0" encoding="UTF-8"?>
<dictionary>
    <locale name="tr">
        <message key="springDay2016EventFilterLabel">Bahar</message>
        <message key="springDay2016FriendRequestMessage">Bahar Göletini temizlemek için bir etkinlik oluştur veya arkadaşlarını davet et</message>
        <message key="springDay2016Flower">Gölet için çiçekler</message>
        <message key="springDay2016Fish">Gölet için balıklar</message>
        <message key="springDay2016Droplet">Yaşam Gücü</message>
        <message key="springDay2016DropletLootDescription">bahar etkinliği boyunca edinilebilir</message>
        <message key="springDay2016PlantFlowerButtonTitle">dik</message>
        <message key="springDay2016FriendHint">Buradan Yaşam Gücü kazanabilirsin!</message>
        <message key="springDay2016LeftTime"> :stage:. aşama için :time: kaldı </message>
        <message key="sd16flower">Çiçekli Gölet</message>
        <message key="sd16filter">Temiz Gölet</message>
        <message key="springDay2016Stage1Title">1. Aşama</message>
        <message key="springDay2016Stage2Title">2. Aşama</message>
        <message key="springDay2016Stage3Title">3. Aşama</message>
        <message key="springDay2016Stage4Title">4. Aşama</message>
        <message key="springDay2016NPCActorName">Gölet Ruhu</message>
        <message key="springDay2016stage1NPCMessage1">Arkadaşlarından Göletteki çamuru temizlemelerini rica et</message>
        <message key="springDay2016stage1NPCMessage2">Gölet gittikçe kirleniyor</message>
        <message key="springDay2016stage1NPCMessage3">Gölet çamurla kaplandı</message>
        <message key="springDay2016stage2NPCMessage1">Göletin etrafına çiçek dik</message>
        <message key="springDay2016stage2NPCMessage2">Göletin etrafına çiçek dikmek gerek</message>
        <message key="springDay2016stage2NPCMessage3">Çiçeklerle çok daha güzel olur</message>
        <message key="springDay2016stage3NPCMessage1">Göletin suyunu temizle</message>
        <message key="springDay2016stage3NPCMessage2">Göletin suyu kirli</message>
        <message key="springDay2016stage3NPCMessage3">Gölette Yaşam Gücü yok</message>
        <message key="springDay2016stage4NPCMessage1">Gölete balık bırak</message>
        <message key="springDay2016stage4NPCMessage2">Gölette biraz balık olması gerek</message>
        <message key="springDay2016stage4NPCMessage3">Balık yokken Gölet bomboş</message>
        <message key="springDay2016CreateRoomTitle">Oda oluşturulsun mu?</message>
        <message key="springDay2016CreateRoomMessage">Gölete iyi bak, harika bonuslar kazan!</message>
        <message key="springDay2016WelcomeDialogTitle">Bahar ve Güneş Tatili</message>
        <message key="springDay2016WelcomeDialogMessageTop1">Arkadaşlarını davet edip onlarla birlikte Göletteki çamuru temizle</message>
        <message key="springDay2016WelcomeDialogMessageTop2">Parkta ve dışarıdaki diğer mekanlarda çalış, yeterli Yaşam Gücü toplayıp çiçek yapmakta kullan</message>
        <message key="springDay2016WelcomeDialogMessageTop3">Parkta ve dışarıdaki diğer mekanlarda çalış, Göletin suyunu temizlemek için yeterli Yaşam Gücü topla</message>
        <message key="springDay2016WelcomeDialogMessageTop4">Parkta ve dışarıdaki diğer mekanlarda çalış, biraz balık oluşturmak için yeterli Yaşam Gücü topla</message>
        <message key="springDay2016WelcomeDialogMessageMiddle1">Göleti temizleme karşılığında bir hediye al ve devam et!</message>
        <message key="springDay2016WelcomeDialogMessageMiddle2">Göletin etrafına çiçek dik</message>
        <message key="springDay2016WelcomeDialogMessageMiddle3">Göletin suyunu temizle</message>
        <message key="springDay2016WelcomeDialogMessageMiddle4">Gölete balık bırak</message>
        <message key="springDay2016WelcomeDialogMessageBottom1">Göleti temizle, süsle ve yaşam ver. Böylece yepyeni, değerli bir yer ve pek çok heyecan verici ödül açılacak.</message>
        <message key="springDay2016WelcomeDialogMessageBottom4">Final ödülünü alıp etkinliği tamamla</message>
        <message key="springDay2016ProgressDialogTitle">Bahar Göleti</message>
        <message key="springDay2016StageTitle">:stage:. aşama</message>
        <message key="springDay2016St1Sb1Description">Arkadaşlarından Göleti temizlemek için yardım iste</message>
        <message key="springDay2016St1Sb2Description">Şimdi Göleti temizlemeyi tamamlayabilirsin</message>
        <message key="springDay2016St2Sb1Description">Çiçek oluşturup dikmek için Yaşam Gücü topla</message>
        <message key="springDay2016St2Sb2Description">Şimdi Göletin etrafına çiçek dikebilirsin</message>
        <message key="springDay2016St3Sb1Description">Göletin suyunu temizlemek için yeterli Yaşam Gücü topla</message>
        <message key="springDay2016St3Sb2Description">Şimdi Göletin suyunu temizleyebilirsin</message>
        <message key="springDay2016St4Sb1Description">Balık oluşturup Gölete bırakmak için yeterli Yaşam Gücü topla</message>
        <message key="springDay2016St4Sb2Description">Şimdi Gölete balık bırakabilirsin</message>
        <message key="springDay2016AskDialogTitle">Arkadaşların Yardımı!</message>
        <message key="springDay2016AskDialogMessage">Arkadaşlarından Göletini temizlemelerini rica et</message>
        <message key="springDay2016AwardDialogMessage">İşte bu aşamayı tamamlaman karşılığında ödülün. Böyle devam et, başarını arkadaşlarınla paylaş!</message>
        <message key="springDay2016WallMessage1">Son aşamayı tamamladığım için harika bir ödül aldım. Sen de almak ister misin? Oyunda görüşürüz! :link:</message>
        <message key="springDay2016WallMessage2">Arkadaşlar, Avataria'da çok özel bir şey kazanmak istiyorum ve bunun için yardımınız gerek. Tek başıma yapamam! :link:</message>
        <message key="springDay2016WallMessage3">Arkadaşlar, Avataria'daki Göletimi tek başıma temizleyemiyorum. Oyunda görüşürüz! :link:</message>
    </locale>
</dictionary>