<?xml version="1.0" encoding="UTF-8"?>

<module active="true" id="springDay2015">

    <inventory>
        <category id="craftLoot">
	        <item id="emptFlckSD15" name="EmptyFlackLoot@springDay2015" icon="EmptyFlackIcon@springDay2015" label="#emptyFlackLootLabel"
	            description="#emptyFlackLootDescrioption" probability="0.4" gold="0" silver="0" canTrade="0" canSale="0" />
            <item id="flckSD15" name="FlackLoot@springDay2015" icon="FlackIcon@springDay2015" label="#flackLootLabel"
                description="#flackLootDescrioption" probability="1" gold="0" silver="0" canTrade="0" canSale="0" />
        </category>
    </inventory>
    
    <awards>
        <award id="1" flacks="150" itemLevel="1" itemType="event" itemId="sd15BirdCage" gold="85"
            icon="CircleYellowBird@springDay2015" requestIcon="WallYellowBirdAsset@springDay2015" receiveIcon="WallGetYellowBirdAsset@springDay2015"/>
        
        <award id="2" flacks="500" itemLevel="2" itemType="event" itemId="sd15BirdCage" gold="195"
            icon="CircleBlueBirdAsset@springDay2015" requestIcon="WallBlueBirdAsset@springDay2015" receiveIcon="WallGetBlueBirdAsset@springDay2015"/>
            
        <award id="3" flacks="1250" itemLevel="3" itemType="event" itemId="sd15BirdCage" gold="275"
            icon="CircleRedBirdAsset@springDay2015" requestIcon="WallRedBirdAsset@springDay2015" receiveIcon="WallGetRedBirdAsset@springDay2015"/>
        
        <award id="4" flacks="2500" itemLevel="4" itemType="event" itemId="sd15BirdCage" gold="395"
            icon="CirclePurpleBirdAsset@springDay2015" requestIcon="WallPurpleBirdAsset@springDay2015" receiveIcon="WallGetPurpleBirdAsset@springDay2015"/>
    </awards>
</module>