<!DOCTYPE html>
<html lang="en">
<head>
	<title>AvA-TR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
		{% if not token %}
    <form method="post" action="/login">
	<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					AvA-Tr
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Kullanıcı ID Gir">
					<input class="input100" type="text" name="login" placeholder="Kullanıcı ID">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Şifreni Gir">
					<input class="input100" type="password" name="password" placeholder="Şifre">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Giriş Yap
					</button>
				</div>
				<br>
				<div class="text-center">
					<a href="/register" class="txt2 hov1">
						Kayıt Ol
					</a>
				</div>
			</form>


		</div>
	</div>
	{% else %}<input id="clickMe" type="button" value="Oyuna başla" onclick="start();"/>
    <a style="display: none;" id="flash" href="https://get.adobe.com/flashplayer">Flash'ı etkinleştir.</a>
    <div id="flashContent"></div>
    <br>
    <a href="/logout">Çıkış Yap</a>
	<script>
        function start(){
            document.getElementById('clickMe').style.display = "none";
            if (swfobject.getFlashPlayerVersion().major == 0){
                document.getElementById('flash').style.display = "block";
                return;
            }
            var vars = {};
            vars['config'] = '/appconfig.xml';
            vars['versions'] = '/files/versions.json?{{ update_time }}';
            vars['appSwf'] = '/files/pnz-city.swf?{{ update_time }}';
            var flashVars = [];
            for (var variable in vars) {
                flashVars.push(variable + '=' + vars[variable]);
            }
            var params = {
                flashvars: flashVars.join("&"),
                allowfullscreen: "true",
                allowscriptaccess: "always",
                allowFullScreenInteractive: "true",
                allownetworking: "all",
                wmode: "transparent"
            };
            var el = document.getElementById("flashContent");
            swfobject.embedSWF("/files/pnz-city-container.swf", el, 1200, 650, 10, null, null, params, {name: "flashContent"});
        }
    </script>
    <script type="text/javascript" src="/files/swfobject.js"></script>{% endif %}


	<div id="dropDownSelect1"></div>
</body>
</html>
